[Desktop Entry]
Name=LinuxFX mkdesktop
Exec=linuxfx-mkdesktop.sh
Comment=LinuxFX user configuration
Terminal=false
Icon=system-software-update
Type=Application

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
