[Desktop Entry]
Name=LinuxFX links add
Exec=linuxfx-links-add.sh
Comment=LinuxFX add links
Terminal=false
Icon=system-software-update
Type=Application

X-GNOME-Autostart-Phase=Initialization
X-KDE-autostart-phase=1
